<div class="w-full">
  <% content_for :title, "Tasks" %>

  <span class="cor-preta">Foobar</span>
  <%= render HeaderComponent.new(title: "Tasks") do %>
    <%= link_to new_task_path do %>
      <%= render ButtonComponent.new(text: "New task") %>
    <% end %>
  <% end %>

  <%= render NoticeComponent.new(notice: notice) %>

  <%= render ListComponent.new(id: 'tasks', pagy: @pagy) do %>
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  <% end %>
</div>
